.cart{
  
  background: #fff;  
  
  
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  min-height: 570px;
  transform: scale(0.9);
   transition: opacity 0.9s ease, transform 0.9s ease;
   position: relative;
   left: -10px;
   top:-120px;
    
    
    z-index: 2222222222222;
}
#header-wrapper {
    height: fit-content;
    padding-bottom: 100px;
}
.cart.fade-out {
  opacity: 0;
transform: scale(0.8);
}


.cart .one{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.cart .one span i{
  position: absolute;
  right: -20px;
  top:  -13px;
  width: 30px;
  height: 30px;
  background-color: #eee;
  color: white;
  cursor: pointer;
  padding: 5px 3px;
  text-align: center;
  z-index: 2222;
  border-radius: 5px;
  color: #000;
  transition:all 0.3s;
    

}
.cart .one span i:hover{
   background-color: red;
    color: white;
   

}
.cart .two{
  margin-top: 50px;
  
}
.cart .three{
  margin-top: 30px;
  cursor: pointer;

}
.cart .three{
  display: flex;
  justify-content: center;
  align-items: center;

}
.cart .three img{
  opacity: 0.7;
  transition: 0.4s;
}
.cart .three img:hover{
  opacity: 1;
}
.cart p a{
    color: #000;
    text-decoration: none;
}
.cart p a:hover{
     text-decoration: underline;
}
 

 .cart div{
  display: flex;
 }

 .cart .two{
  justify-content: space-between;
  padding: 0 20px;
 }
 .cart .two p:first-child{
  font-weight: bold;

 }
 .cart .two p:last-child{
   color: gray;
 }
 hr{
  color:red;
 }
  .cart .three{
      justify-content: space-between;
  padding: 0 20px;
  }
  .cart .three{
      justify-content: space-between;
  padding: 0 10px;
  }
  .cart .four{
    padding: 0 12px;
  }

  .cart .cart-content{
    display: flex;
     
    

       
  }
   .cart .cart-content2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 7px;
   }
.cart .cart-content2 p{
  display: flex;
  
}
.cart .cart-content2 p:first-child{
  font-weight: bold;
}
.price_card{
  display: flex;
  flex-direction: column;
  gap: 170px;
  cursor: pointer;
   

}
 .four{
  /* gap: 20px; */
  justify-content: space-between;
 }
 .price{
  width: 50px;
  font-weight: bold;
  
  background-color: #000;
  color: white;
 }
 .seven{
  display: flex;
  padding: 0 10px;
  margin-top: 20px;
 }
 .sub{
  display: flex;
  gap: 100px;

 }
 .est{
  gap: 100px;
  margin-left: 710px;
 }
 .check button{
   position: relative;
   /* left: 500px; */
  background-color: #000;
  padding: 15px 30px;
  color: white;
  cursor: pointer;
  /* width: 400px; */
  width: 100%;
  border: none;
  opacity: 0.7;
  transition: 0.4s;

 }
  .check button:hover{
    opacity: 1;
  }