  
#header-wrapper {
    height: fit-content;
    padding-bottom: 170px;
}

 .main_category{
  
  font-size: 2rem;              
  font-weight: bold;           
  text-align: center;          
  color: #fff;                  
  background-color: #222;       
  padding: 15px 30px;            
  border-radius: 8px;            
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); 
  width: fit-content;            
  margin: 30px auto;  
  width: 400px;           
}
.category .name{
  font-weight: bold;
}
 
.category .name:hover{
  text-decoration: underline;
  cursor: pointer;
}
 
.category .desc{
  /* max-width: 530px; */
  /* color: brown; */
    color: #aaaaaa;

}
.category .desc:hover{
  text-decoration: underline;
  cursor: pointer;
}
.category img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  

}
.row .product{

 
  background: #fff;  
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4), 
              0 6px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 12px;  
  min-height: 450px;
  position: relative;
  transition:all 0.4s;

}
.product .title{
  font-weight: bold;
  text-align: center;
}
.product .desc{
  text-align: center;
  width: 320px;
  max-height: 100px;
  color: #aaaaaa;
}
.product .desc:hover{
  text-decoration: underline;
  cursor: pointer;

}
.product .title:hover{
  text-decoration: underline;
  cursor: pointer;

}
.product .price{
   margin-left: 20px;
   position: absolute;
    bottom: 10px;
}
.product img{
   margin-left: 50px;
}
 .product img {
  transition: transform 0.5s ease;
}

.product img:hover {
  animation: swing 1s ease forwards;
}

@keyframes swing {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(15deg); }
  50%  { transform: rotate(-15deg); }
  75%  { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}
 .product:hover{
  transform: scale(1.1);
 }
 .category-btn{
  border: none;
  font-weight: bold;
  text-transform:uppercase;
  background-color: transparent;
  margin-top: 20px;
   
 }
 .category-btn:hover{
  text-decoration: underline;
 }
 .card-img-top{
  transition: 0.4s;
 }
 .card-img-top:hover{
  transform: scale(1.1);
 }
  
    #toTop {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: #e04d4d;
   
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4), 
              0 6px 20px rgba(0, 0, 0, 0.1); 
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
      display: none;  
    }
    #toTop img {
  transition: transform 0.5s ease;
}

 #toTop:hover {
  animation: swing 1s ease forwards;
  transform: scale(1.1);
}

.page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}
.page-link {
  color: #212529;
}