  
#header-wrapper {
    height: 100vh;
    position: relative;
    z-index: 22222222222222;
    margin-bottom: 20px;
}
 .main_category{
  font-size: 2rem;              
  font-weight: bold;           
  text-align: center;          
  color: #fff;                  
  background-color: #222;       
  padding: 15px 30px;            
  border-radius: 8px;            
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); 
  width: fit-content;            
  margin: 30px auto;  
  width: 400px;           
}
.category .name{
  font-weight: bold;
}
.category .name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.category .desc{
  /* max-width: 530px; */
  /* color: brown; */
    color: #aaaaaa;

}
.category .desc:hover{
  text-decoration: underline;
  cursor: pointer;
}
.category img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}
.page-link {
  color: #212529;
}
.category-btn{
  border: none;
  font-weight: bold;
  text-transform:uppercase;
  background-color: transparent;
  margin-top: 20px;
   
 }
 .category-btn:hover{
  text-decoration: underline;
 }
 #productsRow img
 {
    min-width: 100%;
}
#productsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  a {
    font-weight: 600;
    max-width: fit-content;
    color: #3b3b3b;
    text-decoration: none;
  }

  a,
  p {
    font-size: 14px;
    letter-spacing: 1px !important;
  }

  a:hover {
    color: #141414;
    text-decoration: underline;
  }

  img {
    width: 300px;
  }
}

@media (min-width: 768px) {
    .prodcut-img {
        width: 300px !important;
        height: 350px !important;
    }
    #productsWrapper {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: start;
  }
}