#header-wrapper {
    height: fit-content;
}

/* Contact Us Title  */
#contact-us-h1 {
    font-weight: bold;
    padding-top: 65px;
}

#contact-form {
    /* border: 1px solid black; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* Contact Form */
#contactForm {
    padding: 12px;
    margin-bottom: 15px;
}


form[type="input"] {
    border-radius: 10px;
}

.form-control.is-invalid {
    border-color: red;
}

.form-control.is-valid {
    border-color: green;
}

.invalid-feedback {
    display: none;
    color: red;
}

.form-control.is-invalid+.invalid-feedback {
    display: block;
}

#modalDetails {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#successModal {
    padding: 100px;
}
/* 
.modal-mesg-body {
    word-wrap: break-word;
    max-width: 100%;
    overflow-x: auto;
    font-size: 1rem;
} */

@media (max-width: 576px) {
    .modal-mesg-body{
        font-size: 0.7rem;
    }
    .modal-title{
        font-size: small;
    }
}


/* Contact Info */
.info-section p {
    margin-bottom: 8px;
}

/* Map */
iframe {
    width: 100%;
    border: none;
    height: 400px;
    margin: 40px 0;
    padding-top: 40px;
    padding-bottom: 40px;

}

#loc-ifram {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Accordion */
.accordion-button {
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
    color: #000;
}

.accordion-body {
    transition: all 0.3s ease;
}

.accordion-button:focus {
    box-shadow: none;
}


.contact-link {
    color: #000;
    text-decoration: none;
    opacity: 0.5;
}

.contact-link:hover {
    opacity: 1;
    text-decoration: underline;
}

.social-icons .fa-facebook {
    color: #1877f2;
}

.social-icons .fa-twitter {
    color: #1da1f2;
}

.social-icons .fa-youtube {
    color: #ff0000;
}