body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  height: fit-content;
  position: relative;
  
}
aside {
  width: 47%;
  height: 100vh;
  overflow: hidden;
  margin: 0%;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
}

.formcontainer {
  height:100vh;
  width: 50%;
  position: absolute;
  top:0px;
  right: 0px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

.formcontainer form {

  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  color: white;
  text-align: center;
  transition: all 0.5s;

}

.formcontainer form input {
  width:95%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: rgba(10, 10, 10, 0.9);
  border-radius: 0%;
  margin: auto;
}

.formcontainer form input:focus {
  border: none;
  color: rgba(27, 27, 27, 0.9);
  outline: none;
  box-shadow: 5px 5px 5px rgba(117, 116, 116, 0.5);
  font-size: large;
  background-color: transparent;
}

.formcontainer form input::placeholder {
  color: rgba(60, 59, 59, 0.807);
}

.formcontainer form .logo {
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
}

.formcontainer form .logo img {
  width: 300px;
  position: absolute;
  top: -75px;
  left: -75px;
}

.formcontainer form .btn {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  transition: all 0.3s ease;
  padding: 10px;
}

.formcontainer form .btn:hover {
  background-color: rgba(176, 176, 175, 0.527) !important;
  color: black !important;
}

.formcontainer form a {
  color: rgb(75, 71, 71);
}

.formcontainer form a:hover {
  color: black;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .formcontainer {
    width: 100%;
  }

  aside {
    width: 100%;

  }

  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .formcontainer {
    width: 100%;
    margin-top:150%;
  }

  aside {
    width: 100%;
    display: block;
    height: fit-content;
  }

  .carousel-inner .carousel-item img {
    width: 100%;
  }
}