* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: acumin-pro, Helvetica, sans-serif;
  letter-spacing: 2px;
}

/* header */
#header-wrapper {
  height: 100vh;
  position: relative;
   z-index: 22222222222222;
}
#main-nav ul li:hover:not(.nav-home1) {
  text-decoration: underline;
}
#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
#header-wrapper .profile .dropdown-item {
  color: #000 !important;
}
#header-wrapper #logoimg {
  width: 100px;
  border-radius: 50%;
}
#header-wrapper input {
  outline: none;
  border-radius: 5px;
  background: transparent;
}
#header-wrapper .mycart p {
  color: black !important;
}
#header-wrapper input:focus {
  border: 1px solid #bababa;
  background: white;
}
#header-wrapper #cartDropdown span {
  letter-spacing: 0px !important;
}
#header-wrapper .offcanvas-body a:hover {
  text-decoration: underline;
}
.bg-nav-transparent,
.bg-nav-transparent a,
.bg-nav-transparent p,
.bg-nav-transparent button,
.bg-nav-transparent span {
  transition: all 0.5s linear;
}

@media (min-width: 768px) {
  .bg-nav-transparent {
    background-color: rgba(255, 255, 255, 0.3) !important;
    a,
    p,
    span,
    button,
    .navbar-toggler {
      color: rgb(11, 11, 11) !important;
    }
  }
  .bg-nav-transparent:hover {
    background-color: white !important;
    a,
    p,
    span,
    button,
    .navbar-toggler {
      color: black !important;
    }
  }
  #bestSellerProductsWrapper {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: start;
}
}

/* footer */

.footer {
  background-color: #f8f9fa;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.footer h1,
.footer h3 {
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .logo-a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.footer h3 {
  font-size: 18px;
}
.footer .subscribe-input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 15px;
  background-color: #000;
  color: white;
}
.footer .divider {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
.footer .support-info {
  line-height: 1.8;
}
.footer .support-info a {
  text-decoration: none !important;
  color: white;
  width: max-content;
  transition: all 0.3s ease-in-out;
}
.footer a:hover,
.nav-item a:hover {
  color: #b6b6b6;
}
.footer .account-info {
  width: 100%;
}
.footer a {
  width: max-content;
  transition: all 0.3s ease-in-out;
}
.footer .copyright {
  margin-top: 30px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #515151;
}

/* main section */
/* new arrivals */

.scrollable-new-arrivals::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
.scrollable-new-arrivals::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollable-new-arrivals::-webkit-scrollbar-thumb {
  background-color: #c2c1c1;
  border-radius: 10px;
}

.scrollable-new-arrivals::-webkit-scrollbar-thumb:hover {
  background-color: #484848;
}

.scrollable-new-arrivals,
#men-women-collections,
#bestSellerProductsWrapper,
#newArrivals {
  a,
  p {
    letter-spacing: 1px !important;
  }
  a {
    max-width: fit-content;
    color: #3b3b3b;
    text-decoration: none;
  }
  a:hover {
    color: #141414;
    text-decoration: underline;
  }
}
.scrollable-new-arrivals .prodcut-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
#men-women-collections img {
  width: 400px;
}
#bestSellerProductsWrapper img {
  max-width: 300px;
}
#bestSellerProductsWrapper,
.scrollable-new-arrivals {
  a {
    font-weight: 600;
  }
  a,
  p {
    font-size: 14px;
  }
}
#bestSellerProductsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.prodcut-img {
  width: 100%;
  transition: all 2s ease;
}

.img-container:hover .primary-img {
  cursor: pointer;
  transform: scale(1.05);
}